@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="page" id="page1" title="一路通" data-theme="d">
    <div data-role="header">
        <h3>一路通 E-Trip</h3>
    </div>
    <div data-role="content">
    <img src="../../Content/images/Test1.png" style="width:100%" />
    时至今日，生活节奏日益加快，压力也与日俱增。集体出游，接近自然已成为大家周末度假，缓解压力的不二之选。然而，会不会总有那么几个掉链子的队友， 分不清东南西北； 有多少司机，离开导航就变得寸步难行； 时不时不给力的导航 + 参差不齐的驾驶技术， 导致前车的尾灯瞬间消失在视线之中。于是只能不停地打电话呼喊：“亲爱哒，你在哪里？”。不幸的是，高速行驶的汽车和源源不断的电话带来了很大的安全隐患，冒着生命危险也不一定能让路痴的朋友搞清楚你到底在哪里。如何更加方便快捷准确的找到同行的小伙伴呢？在智能手机和GPS大行其道的今天，如果有这样一款APP可以实时的显示车队中各个车的具体位置、 彼此间的距离、并提供方便的通话、聊天功能，让你能实时“追踪”车队、保持通信。就可以让你即享受独自亲近自然的舒心也免除了失踪迷路的危险。你再也不用担心弄丢一个路痴的朋友了， 一起来一次说走就走的旅行吧。。。
    </div>
    <div data-role="footer" data-position="fixed" data-theme="a">
        
		<div style="font-size:12px; line-height:150%; text-align:left; margin-left:5px; float:left">版权所有：Sea Star</div>
        <div style="font-size:12px; line-height:150%; text-align:right; margin-right:10px; float:right">E-Trip</div>
	</div>
</div>

