@model Senparc.Weixin.MP.Entities.WeixinUserInfoResult
@{
    ViewBag.Title = "JoinWay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="page" id="joinPage" title="加入旅途" data-theme="d">
    <div data-role="header">
        <a href="#" data-role="button" data-icon="back" style="display:none"></a>
        <h3>加入旅途</h3>
        <a href="javascript:changeToCreate()" data-role="button" data-icon="plus">创建路线</a>
    </div>
    <div data-role="content">
        <h2>请输4位数字的路线号码</h2>
        @Html.Hidden("hidUserId", @Model.openid)
        <input type="tel" id="routeNumber" />
        <label style="color:Red" id="errorMessage"></label>
    </div>
    @{
        var session = YiLuTong.BLL.SessionHelper.Get(Model.openid);

    }
    <div data-role="footer" data-position="fixed" id="footer1" data-theme="a">
        <div style="float:right; width:30%; margin-right:5px;">
            <a href="#" data-role="button" data-icon="grid" onclick="joinRouting()">加入旅途</a>
        </div>
    </div>
</div>


<script type="text/javascript">
    function changeToCreate() {
        $.mobile.navigate("/OAuth2", { transition: "slide" });
    }
    function joinRouting() {
        var number = $("#routeNumber").val();
        if(number == "")
        {
            $("#errorMessage").text("请输入4为数字的房间号码");
            return;
        }

        var number = $("#routeNumber").val();
        $.post("/Home/JoinWay", {
            number: number,
            hidUserId: $("#hidUserId").val(),
            lng: "@session.Longitude",
            lat: "@session.Latitude"
        }, function (data) {
            if (!data.IsSuccess) {
                if ((data.Message == "路线不存在") || (data.Message == "路线已经关闭") || (data.Message == "您已经加入该路线中，请勿重复加入")) {
                    $("#errorMessage").text(data.Message);
                }
                else if ((data.Message == "您已经在其他的路线中，不能重复加入，请点击‘我的路线’菜单后，点击退出即可")) {
                    $.mobile.navigate("/Home/Endtrip?routenumber=" + data.Route.RouteNumber + "&userid=" + data.Route.UserId, { transition: "slide" });
                }
                else {
                    alert("加入路线成功，导航开始");
                    $.mobile.navigate("/Home/Routing?routnumber=" + data.Route.RouteNumber + "&userid=" + data.Route.UserId, { transition: "slide" });
                }
            }
        });
    }

</script>