@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div data-role="page" data-theme="d">
    <div data-role="header" data-theme="d">
        <h5>
            使用帮助</h5>
    </div>
    <div role="main" class="ui-content">
        <div data-role="collapsible" data-mini="true" data-collapsed="false">
            <h4>
                如何创建路线导航？</h4>
                进入一路通微信公众账号后，点击“我的路线”菜单，将会进入目的地搜索页面，输入您要到达的目的地，点击搜索按钮后选择一个您要到达的详细目的地，即会进入导航页面，在导航页面中点击下方的“导航”按钮即可创建路线导航。
        </div>
        <div data-role="collapsible" data-mini="true" data-collapsed="false">
            <h4>
                路线编号有什么用？</h4>
                当您创建一个导航路线后，您可以将路线编号告诉同行的朋友，您的朋友将可以使用该进入加入您的导航路线中。
        </div>
        <div data-role="collapsible" data-mini="true" data-collapsed="false">
            <h4>
                如何加入别人创建的导航路线？</h4>
                在您要加入别人创建的导航路线前，您需要得到一个路线编号（该编号是一个4为数字，创建路线的人可知该编号），此时在公众平台对话页面中点击“加入旅途”菜单，进入加入路线页面，在输入框中输入您已知的路线编号，然后点击下方的“加入”按钮即可。
        </div>
        <div data-role="collapsible" data-mini="true" data-collapsed="false">
            <h4>
                如何快速加入导航路线？</h4>
                在您要加入别人创建的导航路线前，您需要得到一个路线编号（该编号是一个4为数字，创建路线的人可知该编号），此时在公众平台对话页面中输入该编号，然后发送即可收到一条由系统回复的信息，点击该上面的链接即可快速加入导航路线。
        </div>
    </div>
    <!-- /content -->
    <div data-role="footer" data-position="fixed" data-theme="a">
        <div style="font-size: 12px; line-height: 150%; text-align: left; margin-left: 5px;
            float: left">
            版权所有：Sea Star</div>
        <div style="font-size: 12px; line-height: 150%; text-align: right; margin-right: 10px;
            float: right">
            E-Trip</div>
    </div>
    <!-- /footer -->
</div>
<!-- /page -->
